
/* media quries */

@media screen and (max-width:799px){
    .header{
        flex-direction: column;
        padding-bottom: 0px;
    }
    .header .navbar .nav-list{
        display: none;
    }
    .header .serach-bar .search{
        width: 300px;
        padding: 5px;
    }
    
    .main-container{
        flex-direction: column;
    }
    .main-container .content{
        width: 100%;
    }
    .main-container .content .content-title{
        font-size: 30px;
        text-align: center;
    }
    .main-container .content .content-caption{
        text-align: center;
        width: 80%;
        margin: 10px auto;
    }
    .btn{
        padding: 5px 10px;
        display: block;
        margin: 10px auto;
        cursor: pointer;
    }
    .login-section{
        padding: 10px;
        margin:20px auto;
        width: 80%;
    }
}


@media screen and (min-width:800px) and (max-width:1200px){
    .header{
        flex-direction: column;
        padding-bottom: 0px;
    }
    .header .navbar{
        display: block;
        margin-bottom: 10px;
    }
    .header .serach-bar .search{
        width: 400px;
        padding: 5px;
    }
    
    .main-container{
        flex-direction: column;
    }
    .main-container .content{
        width: 100%;
    }
    .main-container .content .content-title{
        font-size: 30px;
        text-align: center;
    }
    .main-container .content .content-caption{
        text-align: center;
        width: 80%;
        margin: 10px auto;
    }
    .btn{
        padding: 5px 10px;
        display: block;
        margin: 10px auto;
        cursor: pointer;
    }
    .login-section{
        padding: 10px;
        margin:20px auto;
        width: 60%;
    }
}